.sign-up-container{
    background-image:url("./assets/alexandru-bogdan-ghita-UeYkqQh4PoI-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    overflow: hidden;
    overflow-y: hidden;
}
.form-line{
    background-color: rgb(21, 22, 20);
    margin-top: 20px;
    font-size: 20px;
}
.sign-in-container{
    background-image:url("./assets/ryan-concepcion-50KffXbjIOg-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    overflow: hidden;
    overflow-y: hidden;
}
.home-page{
    height:100vh,

}
.banner-image{
    background-image:url("./assets/pexels-rachel-claire-5865071.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    height: 60vh;

}