.sign-up-container{
    background-image:url("./assets/alexandru-bogdan-ghita-UeYkqQh4PoI-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    overflow: hidden;
    overflow-y: hidden;
}
.form-line{
    background-color: rgb(59, 65, 55);
    margin-top: 20px;
    font-size: 20px;
}